<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--  initial setuo  -->
    <servlet>
        <servlet-name>InitDataServlet</servlet-name>
        <servlet-class>controller.InitDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitDataServlet</servlet-name>
        <url-pattern>/setup/init-data</url-pattern>
    </servlet-mapping>
    <!--  Auth  -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!--  User/Student  -->
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>controller.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/admin/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>controller.student.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <servlet-class>controller.student.StudentDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/student/list</url-pattern>
    </servlet-mapping>
    <!--  Course  -->
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>controller.course.CourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/course/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>controller.course.AddCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/course/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditCourseServlet</servlet-name>
        <servlet-class>controller.course.EditCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditCourseServlet</servlet-name>
        <url-pattern>/course/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCourseServlet</servlet-name>
        <servlet-class>controller.course.UpdateCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCourseServlet</servlet-name>
        <url-pattern>/course/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <servlet-class>controller.course.DeleteCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCourseServlet</servlet-name>
        <url-pattern>/course/delete</url-pattern>
    </servlet-mapping>
    <!--  Enrollment  -->
    <servlet>
        <servlet-name>EnrollmentServlet</servlet-name>
        <servlet-class>controller.course.EnrollmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnrollmentServlet</servlet-name>
        <url-pattern>/enrollment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetEnrolledCoursesServlet</servlet-name>
        <servlet-class>controller.course.GetEnrolledCoursesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetEnrolledCoursesServlet</servlet-name>
        <url-pattern>/enrollment/courses</url-pattern>
    </servlet-mapping>
    <!--  Export  -->
    <servlet>
        <servlet-name>ExportStudentCSVServlet</servlet-name>
        <servlet-class>controller.student.ExportStudentCSVServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportStudentCSVServlet</servlet-name>
        <url-pattern>/export/students.csv</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExportStudentPDFServlet</servlet-name>
        <servlet-class>controller.student.ExportStudentPDFServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportStudentPDFServlet</servlet-name>
        <url-pattern>/export/students.pdf</url-pattern>
    </servlet-mapping>
    <!--  Charts  -->
    <servlet>
        <servlet-name>EnrollmentChartServlet</servlet-name>
        <servlet-class>controller.chart.EnrollmentChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnrollmentChartServlet</servlet-name>
        <url-pattern>/chart/enrollment-bar.png</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EnrollmentPieChartServlet</servlet-name>
        <servlet-class>controller.chart.EnrollmentPieChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnrollmentPieChartServlet</servlet-name>
        <url-pattern>/chart/enrollment-pie.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <url-pattern>/student/dashboard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
